body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  /* max-width: 1440px; */
}

:root {
  --first-title-color: #2e2f42;
  --logo-color: #404bbf;
  --page-color: #ffffff;
  --background-color: #f4f4fd;
  --btn-color: #4d5ae5;
  --text-color: #434455;
  --custumer-color: #8e8f99;
  --overlay-text: #f4f4fd;
  --link-color: #4d5ae5;
  --checked:#404bbf;
  --checked-fill: #f4f4fd; ;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  min-width: 100%;
  min-height: auto;
}
/* .current-page{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
} */
/* .current-page::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background: #404BBF;
    border-radius: 2px;
} */

/** ----------------------------------HEADER ---------------------------**/
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: var(--btn-color);
  margin-right: 76px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.header-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: var(--first-title-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -1px;
  background: #404bbf;
  border-radius: 2px;
}
.color-studio {
  color: #404bbf;
}
.header-link:hover {
  color: var(--logo-color);
}
.header-link:focus {
  color: var(--logo-color);
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}
.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-list {
  display: flex;
  gap: 40px;
}
.header-contact-link:hover {
  color: var(--logo-color);
}
.header-contact-link:focus {
  color: var(--logo-color);
}

/* First section solution */

.solutions-section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/StudioBG.jpg);
  background-repeat: no-repeat;
  /* max-width: 1440px; */
  background-position: center;
  background-size: cover;
}

.solutions-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--page-color);
  max-width: 496px;
  min-height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}
.solutions-container {
  display: flex;
  flex-direction: column;
}

.solutions-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--btn-color);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions-btn:hover {
  background-color: var(--logo-color);
}
.solutions-btn:focus {
  background-color: var(--logo-color);
}

/* Section-Values */

.values-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.values-paragraph-list {
  width: calc((100% - 72px) / 4);
}
.values-list {
  display: flex;
  gap: 24px;
}
.icon-container {
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}
.values-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Section-ABOUT */

.about-section {
  padding-bottom: 120px;
}

.about-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  width: calc((100% - 48px) / 3);
}

/* Section-OUR Team */

.team-section {
  background: var(--background-color);
}

.team-top-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-title-color);
  margin-bottom: 72px;
}
.team-bottom-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}
.team-profession-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.team-background-photo {
  background: var(--page-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-background-photo {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-list-container {
  padding: 32px 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.social-link:hover {
  background-color: #404bbf;
}
.social-link:focus {
  background-color: #404bbf;
}

/* Customers-section */

.customer-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customer-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.customers-list-icons {
  width: 168px;
  height: 88px;
}
.custumer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--custumer-color);
  border-radius: 4px;
  color: var(--custumer-color);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}
.custumer-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.custumer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* Footer */

.footer {
  background-color: var(--first-title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  width: 264px;
  min-height: 72px;
}
.logo-footer-div {
  margin-right: 120px;
}
.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-logo-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-logo-social {
  fill: var(--background-color);
}
.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover {
  background-color: #31d0aa;
}
.footer-link:focus {
  background-color: #31d0aa;
}
.social-div {
  margin-right: 80px;
}
.footer-input-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}
.footer-input-btn {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 4px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input-btn:hover {
  background-color: #404bbf;
  border: none;
}
.footer-input-btn:focus {
  background-color: #404bbf;
  border: none;
}
.footer-input-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-input-container {
  width: 453px;
  height: 80px;
}
.footer-form {
  display: flex;
  gap: 24px;
}

/* Portfolio */

/* portfolio-btn */

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--btn-color);
  background: var(--background-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-btn:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.portfolio-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-bottom-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 48px 24px;
}
.item {
  width: calc((100% - 48px) / 3);
}
/* .item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.8), 0px 1px 1px rgba(46, 47, 66, 0.8), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px
} */
.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.image-container {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: var(--overlay-text);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-container:hover .overlay-text {
  transform: translatey(0);
}
.portfolio-link:focus .overlay-text {
  transform: translatey(0);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: scale(0.25) rotate(180deg);
}
.modal-button {
  position: absolute;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: black;
}
.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}
.modal-close:hover {
  fill: #ffffff;
}
.modal-close:focus {
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  width: 360px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  fill: #2e2f42;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-text {
  display: block;
  margin-bottom: 4px;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}
.input-container {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area-container {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-button-bottom {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  min-height: 56px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-bottom:hover {
  background-color: #404bbf;
  border: none;
}
.modal-button-bottom:focus {
  background-color: #404bbf;
  border: none;
}
.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-privacy {
  width: 100%;
}
/* .privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
} */
.modal-link {
  color: var(--link-color);
}
.modal-field {
  margin-bottom: 8px;
  position: relative;
}
.checkbox-container {
  position: relative;
  margin-bottom: 24px;
}
.modal-privacy-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-privacy:checked + .check-text > .modal-privacy-text {
  background-color: var(--checked);
  fill: var(--checked-fill);
  border: none;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
